* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 80px;
    background: linear-gradient(to right, #001c8c, #a01ab8);
    grid-template-areas:
        "header header"
        "section section"
        "footer footer";
        font-family: "Graphik Web", "Tahoma", "Helvetica", "sans-serif";   
}

header{
    
    grid-area: header;
    background-color: #000000;
    color: white;
    opacity: 0.9;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header a{
    cursor: pointer;
}
h1>img{
    height: 130px;
}

section{
    grid-area: section;
    /* background: rgb(0,0,0); */
    /* background: linear-gradient(180deg, rgba(0,0,0,1) 34%, rgba(60,84,201,1) 74%, rgba(85,149,255,1) 100%); */
    text-align: center;

    color: white;
}

footer{
    grid-area: footer;
    /* background-color: #000000; */
}

#cont_cat{
    cursor: pointer;
    width: 125px;
    padding: 5px;
    /* background-color: #000000; */
    border: 1px solid #ffffff;
    color: white;
    border-radius: 20px;
    text-align: center;
}

#search{
    cursor: pointer;
}

#buscar{
    display: inline-flex;
    width: 100%;
    align-items: center;

}

#lupa{
    font-size: 20px;
    margin: 15px;
    float: right;
    cursor: pointer;
}

/* #lupa, #busq_btn{
    margin: 0 auto;
} */

#busqueda{
    display: none;
    width: 100%;
    height: auto;
    padding: 20px;
     background: rgb(0,0,0);
}

#busq_btn{
    display: flex;
    width: 100%;
    height: 70px;
    padding: 10px;
    background: rgb(68,68,68);
    background: linear-gradient(0deg, rgba(68,68,68,0.3785889355742297) 0%, rgba(56,56,56,1) 100%);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}


#contenedorPelis{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

#cont_pelis{
    width: 250px;
    height: auto; 
    margin: 30px;
    padding: 10px;
}

#contenedor{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

#img{
    width: 250px;
    height: 300px;
}

#pelicula{
    display: none;
    width: 80%;
    margin: 0 auto;
}

#verPeli{
    width: 70%;
    height: auto;
    padding: 20px;
   
}

#verPeli p{
    margin: 10px;
    
}

#verPeli img{
    width: 200px;
    height: 250px;
}

h1{
    width: 100px;
    margin: 15px;
    cursor: pointer;
}

#log{
    display: flex;
    float: right;
    margin: 25px;
    gap: 20px;
}


.fa-bookmark{
    font-size: 35px;
    cursor: pointer;
    margin: 20px;
}

.fa-bookmark:hover{
    font-size: 45px;
    
}

.pp{
    text-align: center;
    border: 2px solid ;
}
#mas{
margin-top: 50%;
font-size: 50px;
}
.nav-link {
    color: white !important;
}
.custom-table {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;

}

.custom-table th,
.custom-table td {
    border: 1px solid #ddd; /* Ajusta el grosor y color de los bordes */
    padding: 8px;
    text-align: left;
}

.custom-table th {
    background-color: #000000; /* Color de fondo para el encabezado */
    text-align: center;
}

.custom-table th,
.custom-table td {
    padding-top: 12px;
    padding-bottom: 12px;
}




/* Estilos para los botones de operaciones */
.edit-button,
.delete-button {
    background-color: #4CAF50; /* Color de fondo para botones de editar */
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 4px;
    display: block;
    margin: 0 auto;
}

.delete-button {
    background-color: #f44336; /* Color de fondo para botones de eliminar */
}
 #vPrevia{
    display: none;
 }
 .custom-table caption {
    margin-top: 20px;
    margin-bottom: 20px;
}
#form_publicarCt{
    display: none;
}
.form-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
}
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}
.button-group {
    display: flex;
    justify-content: space-between;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
#bcat{

    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.cancelarCat{
    padding: 10px 15px;
    background-color: #f04c41;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#bcat:hover{
    background-color: #218838;
}

.cancelarCat:hover{
    background-color: #f12819;

}
#form_addMovie{
    display: none;
    color: #000000;
}
.form-containerPel{
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}
#añadirCatTable:disabled{
    background-color: #83da86;
}
#añadirPeliTable:disabled{
    background-color: #83da86;
}